<mat-sidenav-container [hasBackdrop]="false" autoSize>
  <mat-sidenav #sidenav opened mode="over" [disableClose]="true" class="p-0  w-fit">
    <div class="absolute  top-2 -right-12 z-9999 "  >
      <button mat-mini-fab class="bg-white" (click)="sidenav.toggle()">
        <mat-icon *ngIf="sidenav.opened">layers_clear</mat-icon>
        <mat-icon *ngIf="!sidenav.opened">layers</mat-icon>
      </button>
    </div>

  <mat-tab-group  animationDuration="200ms" mat-stretch-tabs [(selectedIndex)]="selectedTab">
    <mat-tab label="Features">
      <div [ngStyle]="{display: panelStructure=='json' ? 'block' : 'none'}"
        class=" bg-white  " style="height: 95%;">
          <ngx-codemirror #codeMirror 
          [options]="codeMirrorOptions"
          [(ngModel)]="geojsonText"
          (codeMirrorLoaded)="codeMirrorLoaded()"
          (ngModelChange)="handleChange($event)">
        </ngx-codemirror>
      </div>
      <div [ngStyle]="{display: panelStructure=='list' ? 'block' : 'none'}"  class=" bg-white  " style="height: 95%;">
          <app-feature-list [features]="listFeatures" ></app-feature-list>
     
      </div>
      <div class=" border border-slate-200 p-2 w-full h-fit py-2 fixed bottom-0  flex justify-between items-center gap-4 shadow-md" style="height:5%; width: 20vw;box-shadow: 0 -5px 10px -5px rgb(226 232 240);background-color: #f7f7f7;" >
      <div>
        <span>
          List
        </span>
        <mat-slide-toggle  (change)="onPanelStructureChanged($event)" color="primary">
      </mat-slide-toggle>
      JSON
      </div>
      <div>
        <button color="primary"  class="font-bold px-2 py-1 border bg-purple-300 rounded-md" (click)="importInput.click()"  >
         + Import 
        </button>
        <input #importInput id="importInput" (change)="readFile($event)"   class="invisible hidden" type="file" name="" id="">
      </div>
      </div>
    </mat-tab>
    <!-- <mat-tab  label="Properties" >
      <app-editable-table [properties]="currentPropertiesFeature.properties"
        (propertiesChanged)="onPropertiesChanged($event)"></app-editable-table>
    </mat-tab> -->
  </mat-tab-group>



  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="!sidenav.opened" class="absolute top-2 left-2 z-50 ">
      <button mat-mini-fab class="bg-white" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">layers</mat-icon>
      </button>
    </div>
    <div class="map-wrap">
      <div #map id="map">
        <div id="right-sidebar" class=" bg-red collapsed map-overlay">
          <div class="sidebar-content rounded-rect flex-center">
            <app-editable-table class="w-full" [properties]="currentPropertiesFeature.properties"
            (propertiesChanged)="onPropertiesChanged($event)"></app-editable-table>
          </div>
          </div>
      </div>
<div class="map-position-info" >
<div class="flex gap-3">
  <pre id="position-info"></pre>
  <pre id="zoom-info"></pre>
</div>

</div> 
<div *ngIf="isEditing" class="mapboxgl-ctrl-group mapboxgl-ctrl save-edits-ctrl">
    <p>Current Edits</p>
    <div class="save-options-group" >
      <button  (click)="onToggleEdit('save')" class="mapboxgl-ctrl-icon mapboxgl-save-edits">
        Save
      </button>
      <button (click)="onToggleEdit('cancel')" class="mapboxgl-ctrl-icon mapboxgl-cancel-edits">
        Cancel
      </button>
    </div>
</div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>