<div >

  <!-- <br /> -->
<div class="w-full h-7 sticky bg-red flex justify-start items-center font-bold " > 
<div class="w-24 text-center  text-xs"><span>Property</span></div>
<div class="w-24 text-center text-xs" >Value</div>  
<div>
  <button mat-icon-button (click)="AddNewRow()">
    <mat-icon>playlist_add_circle</mat-icon>   
 </button>
</div>
</div>
<div class=" overflow-auto ml-1" style="height: 200px;">
  <form [formGroup]="VOForm" autocomplete="off">
    <div class=" bg-white w-full">
      <ng-container formArrayName="VORows">
        <table class="block" #table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="property">
            <th style="text-align: center !important;" mat-header-cell *matHeaderCellDef>Property</th>
            <td class="border-gray-100 cursor-text bg-slate-400" (click)="propertyInput.click()" mat-cell
              *matCellDef="let element; let i = index" [formGroup]="element">
              <div class="h-full w-full">
                <input class="w-24" #propertyInput matInput type="text" formControlName="property" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th style="text-align: center !important;" mat-header-cell *matHeaderCellDef>Value</th>
            <td class="border-gray-100 border cursor-text " (click)="valueInput.click()" mat-cell
              *matCellDef="let element; let i = index" [formGroup]="element">
              <div class="h-full w-full">
                  <input class="w-24" #valueInput matInput type="text" formControlName="value" />
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th style="text-align: center !important; width: 30px !important;" mat-header-cell *matHeaderCellDef>
              <button mat-icon-button (click)="AddNewRow()">
              <mat-icon>playlist_add_circle</mat-icon>   
           </button>
            </th>
            <td style="border: none !important; background-color: white !important;" class=" cursor-text text-center align-middle" mat-cell
              *matCellDef="let element; let i = index" [formGroup]="element">
            <div class="w-7 ml-1 flex justify-end">
              <button (click)="deleteRow(i)">
                <mat-icon class="text-lg" size="14px"  >delete</mat-icon>
              </button>
            </div>
            </td>
          </ng-container>
          <!-- <tr class="mb-10" mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
          <tr class="mt-10" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </ng-container>
    </div>
  </form>
</div>
  <br>
  <!-- <div class=" mb-2 flex flex-row-reverse">
    <button mat-raised-button (click)="AddNewRow()">
      Add Row
    </button>
  </div> -->
</div>