.mapboxgl-tile-boundaries
{ 
  background: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 46 46" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" ><path d="M40 4h-32c-2.21 0-4 1.79-4 4v32c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4v-32c0-2.21-1.79-4-4-4zm-24 36h-8v-8h8v8zm0-12h-8v-8h8v8zm0-12h-8v-8h8v8zm12 24h-8v-8h8v8zm0-12h-8v-8h8v8zm0-12h-8v-8h8v8zm12 24h-8v-8h8v8zm0-12h-8v-8h8v8zm0-12h-8v-8h8v8z"></path></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mapbox-gl-draw_rectangle{
  background-image: url('./rectangle.svg');
}

.mapbox-gl-draw_polygon{
  background-image: url('./polygon.svg') !important;
}

.mapbox-gl-draw_circle{
  background-image: url('./circle.svg') !important;
}



.featurelistpopup {

    width: fit-content;
    height: fit-content;
    padding: 0;
    font-size: 10px !important;

    .maplibregl-popup-content.mapboxgl-popup-content{
    padding: 0;
    }
  
    
    #root{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap:5px;
    }
  
    #menu {
      border-radius: 3px;
      width: auto;
      font-family: 'Open Sans', sans-serif;
      max-height:20vh;
      overflow-y: scroll;
      }
       
      #menu a {
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      text-align: center;
      }
       
      #menu a:last-child {
      border: none;
      }
       
      #menu a:hover {
      color: #404040;
      }
       
      #menu a.active {
      background-color: #3887be;
      color: #ffffff;
      }
       
      #menu a.active:hover {
      background: #3074a4;
      }
  
    .maplibregl-popup-content { 
      padding: 20px 15px 15px;
  
    }
    .maplibregl-popup-close-button{
      right: 5px;
      top:5px;
      transform:scale(2)
  
    }

  }



  

  .featureOptionsPopup{

    .maplibregl-popup-content.mapboxgl-popup-content{
      padding: 5px;
    }
  }

  .options-buttons{
    display: flex;
    flex-direction: column;
    
  }

  .options-buttons button {
    padding: 5px;
    width:100%;
    text-align: left;
    text-decoration: none;
    color: black;
    background-color: white;
  }
  
  .options-buttons button:hover {
    background-color: #ddd;
  }


  .mapboxgl-cancel-edits, .mapboxgl-save-edits{
    padding: 0 8px !important;
    background-color: #404040 !important;
    color: aliceblue;
    width: fit-content  !important;
    border-radius: 5px !important;
    border: none;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }





  .save-edits-ctrl{



    position: absolute;
    top:34vh;
    right: 0.75vw;
    width: 125px;
    height: fit-content;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 9999;

    >p{
      margin: 2.5px 5px;
    }

  }

  .save-options-group{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
  }

  .save-options-group button:hover{
    background-color: red !important;
  }

  .error-marker {
    width: 10px;
    height: 1.5em;
    background: #eab;
    transition: all 100ms;
    -webkit-transition: all 100ms;
  }
  
  .error-marker.warning {
    background: #eee0aa;
  }
  
  .error-marker:hover {
    background: #d68;
  }
  
  .error-marker.warning:hover {
    background: #eee0aa;
  }
  
  .error-marker:before {
    opacity: 0;
    pointer-events: none;
    content: attr(message);
    transition: all 100ms;
    -webkit-transition: all 100ms;
    content: attr(message);
    width: 300px;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #000;
    position: absolute;
    background: #fff;
    z-index: 999;
  }
  
  .error-marker:hover:before {
    opacity: 1;
    margin-left: 35px;
  }

  .CodeMirror-gutters {
    background: #fff;
  }
  .cm-s-eclipse span.cm-meta {
    color: #ff1717;
  }
  .cm-s-eclipse span.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: #7f0055;
  }
  .cm-s-eclipse span.cm-atom {
    color: #219;
  }
  .cm-s-eclipse span.cm-number {
    color: #164;
  }
  .cm-s-eclipse span.cm-def {
    color: #00f;
  }
  .cm-s-eclipse span.cm-variable {
    color: black;
  }
  .cm-s-eclipse span.cm-variable-2 {
    color: #0000c0;
  }
  .cm-s-eclipse span.cm-variable-3 {
    color: #0000c0;
  }
  .cm-s-eclipse span.cm-property {
    color: black;
  }
  .cm-s-eclipse span.cm-operator {
    color: black;
  }
  .cm-s-eclipse span.cm-comment {
    color: #3f7f5f;
  }
  .cm-s-eclipse span.cm-string {
    color: #2a00ff;
  }
  .cm-s-eclipse span.cm-string-2 {
    color: #f50;
  }
  .cm-s-eclipse span.cm-error {
    color: #f00;
  }
  .cm-s-eclipse span.cm-qualifier {
    color: #555;
  }
  .cm-s-eclipse span.cm-builtin {
    color: #30a;
  }
  .cm-s-eclipse span.cm-bracket {
    color: #cc7;
  }
  .cm-s-eclipse span.cm-tag {
    color: #170;
  }
  .cm-s-eclipse span.cm-attribute {
    color: #00c;
  }
  .cm-s-eclipse span.cm-link {
    color: #219;
  }
  
  .cm-s-eclipse .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
  }