/* You can add global styles to this file, and also import other style files */

@use '../node_modules/@angular/material' as mat;
@import "@angular/material/theming";
@import '../node_modules/@watergis/maplibre-gl-elevation/css/styles.css';
@import '../node_modules/maplibre-gl/dist/maplibre-gl.css';
@import "../node_modules/@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";
@import "../src/app/shared/maplibre-custom-controls/controls.css";
@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';
@import '../node_modules/codemirror/lib/codemirror';
@import '../node_modules/codemirror/theme/material';
@import '../node_modules/codemirror/addon/lint/lint.css';
@import '../node_modules/codemirror/addon/fold/foldgutter.css';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=block');
@import url('./assets/map-styles.scss');
html, body { height: 100%;   margin: 0;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: ffffff96;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(220, 215, 215, 0.826);
    border-radius: 10px;
    border: 3px solid grey;
  }




.mdc-data-table__content{
  margin-top: 20px !important;
}