<div *ngFor="let feature of features;let i = index"
    class=" hover:bg-gray-200 px-2 py-1 feature-list-item"   
     (contextmenu)="onRightClick(feature,$event)" 
    (click)="selectFeature(feature,$event)"  
    [class.highlighted]="selection.isSelected(feature)"  
    appClickOutside (clickOutside)="onClickOutsideFeature($event)"
>
    <span class="ml-3">
    {{i+1}}  {{feature.geometry.type | titlecase}}
    </span>
  </div>

  <div #menu appClickOutside (clickOutside)="closeMenu()"  class=" bg-slate-100 w-24 h-fit flex flex-col shadow-md" [style.display]="menuVisibility?'block':'none'" > 
<div class="flex flex-col p">
  <div *ngFor="let action of contextMenuActions" >
    <button *ngIf="action.type=='button'" class="context-menu-buttons" (click)="onContextMenuAction(action.value,$event)" >{{action.viewValue}}</button>
    <div  *ngIf="action.type=='dropdown'" >
      <div class="dropdown context-menu-buttons text-center" > {{action.viewValue}}<mat-icon class="text-base" >play_arrow</mat-icon>
        <div class="dropdown-content" >
          <button  *ngFor="let child of action.children"    (click)="onContextMenuAction(child.value,$event)" >{{child.viewValue}}</button>  
      </div>
      </div>


     </div>
    </div>
</div>
  </div>